.not-found-page {
  margin: 160px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found-page__main-title {
  margin: 0;
  color: #2563eb;
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-size: 300px;
  font-weight: 400;
}

.not-found-page__content-wrapper {
  padding: 59px 40px;
}

.not-found-page__title {
  margin: 0 0 16px 0;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 32px;
}

.not-found-page__subtitle {
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.not-found-page__link {
  color: #2563eb;
  text-underline-offset: 4px;
}
